@use "mixins" as *;
@use "variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 0 2rem;
  background-image: linear-gradient(
    getColor("desaturated-dark-cyan") 20%,
    getColor("light-grayish-cyan-background") 80%
  );
}
