*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 0 2rem;
  background-image: linear-gradient(hsl(180deg, 29%, 50%) 20%, hsl(180deg, 52%, 96%) 80%);
}

.filter-container {
  display: none;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(180deg, 52%, 96%);
  height: 5rem;
  padding: 0 2rem;
}
.filter-container-bar {
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: 60%;
  border: 1px solid hsl(180deg, 29%, 50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filter-container-bar-div {
  display: flex;
  margin: 0 0.5rem;
}
.filter-container-bar-div:hover .filter-container-bar-div-item {
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(180deg, 29%, 50%);
}
.filter-container-bar-div:hover .filter-container-bar-div-item + i {
  color: black;
  background-color: hsl(180deg, 8%, 52%);
}
.filter-container-bar-div-item {
  color: hsl(180deg, 29%, 50%);
  background-color: rgb(170, 250, 246);
  font-weight: bold;
  font-size: medium;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem 0 0 0.4rem;
  position: relative;
}
.filter-container-bar-div i {
  color: hsl(180deg, 31%, 95%);
  background-color: black;
  border-radius: 0 0.4rem 0.4rem 0;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}
.filter-container-btn {
  height: 60%;
  border: none;
  background-color: hsl(180deg, 52%, 96%);
  color: hsl(180deg, 29%, 50%);
  font-size: large;
}
.filter-container-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.main .card {
  width: 100%;
  padding: 1rem 2rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(180deg, 52%, 96%);
  border-radius: 0.4rem;
  box-shadow: 7px 9px 4px -1px hsl(180deg, 8%, 52%);
}
@media (max-width: 800px) {
  .main .card {
    flex-direction: column;
    padding: 3rem 2rem;
  }
}
.main .card.featured {
  border-left: 4px solid hsl(180deg, 29%, 50%);
}
.main .card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  flex-grow: 1;
}
@media (max-width: 800px) {
  .main .card-body {
    align-items: center;
  }
}
.main .card-body-title {
  font-size: 1.5rem;
  color: hsl(180deg, 29%, 50%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 800px) {
  .main .card-body-title {
    font-size: 2rem;
  }
  .main .card-body-title span {
    font-size: 1.4rem;
  }
}
.main .card-body-title-span-new {
  padding: 0.2rem 0.7rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(180deg, 29%, 50%);
  font-weight: bold;
}
.main .card-body-title-span-featured {
  padding: 0.2rem 0.7rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(180deg, 14%, 20%);
  font-weight: bold;
}
.main .card-body-position:hover {
  color: hsl(180deg, 29%, 50%);
}
.main .card-body-description {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.main .card-body-description span {
  color: hsl(180deg, 8%, 52%);
  font-size: small;
}
.main .card-list {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}
@media (max-width: 800px) {
  .main .card-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.main .card-list-item {
  list-style: none;
  color: hsl(180deg, 29%, 50%);
  background-color: rgb(170, 250, 246);
  font-weight: bold;
  font-size: medium;
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
}
.main .card-list-item:hover {
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(180deg, 29%, 50%);
}

/*# sourceMappingURL=styles.css.map */
